server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:persondb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: ""
  sql:
    init:
      mode: always
